.nav-color {
  background-color: #201732;
}
.navlink {
  color: #2c92bf;
}
.navlinkactive {
  color: #eb8a1b;
}
.navlinkhead {
  color: #11c7a5;
}
.navhover:hover {
  color: #eb8a1b;
}
.bghero {
  background-color: #201732;
}
